<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Une erreur est survenue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Erreur de type {{status_code}} ({{ status_text }})</h1>
    <p>
        Une exception a été lancée depuis l'application, elle comporte le message suivant : "
    </p>
</div>
</body>
</html>